APP_NAME=Hall Booking System

DB_HOST="your_db_host"
DB_PORT="your_db_port"
DB_USER="your_db_user"
DB_PASSWORD="your_db_password"
DB_NAME=hall_booking_db

JWT_SECRET_KEY=your_secret_key
JWT_ALGORITHM=your_jwt_algorithm


DATABASE_URL=postgresql+asyncpg://your_db_user:your_db_password@your_db_host:your_db_port/hall_booking_db